footer{
    width: 100%;
    height: 5rem;
    padding: 0 3vw 0 3vw;
    box-sizing: border-box;
    border-top: 1px solid #e9e9e9;
}
footer #sections{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
}
footer .center{
    margin-top: 2rem;
}
footer .center h3{
    margin: 0 20px;
}
footer #sections ul{
    display: flex;
    flex-direction: column;
}
footer #sections ul li{
    margin: 4px 0;
}
@media (prefers-color-scheme: dark) {
    footer {
      border-top: 1px solid #242424;
    }
}